/* COLOR / MODES */
:root {
    --background: black;
    --flightProgressStripBackground: #F7FADE;
    --flightProgressStripForeground: black;
    --settingsForeground: lightgray;
    --settingsText: white;
    --settingsBackground: darkslategray;
    --siaColorSplash: goldenrod;
    --stars: limegreen;
    --starsError: red;
    --starsMap: yellow;
    --buttonText: white;
    --buttonRed: firebrick;
    --buttonGreen: seagreen;
    --buttonBlue: steelblue;
}

.default {
    --background: black;
    --flightProgressStripBackground: #F7FADE;
    --flightProgressStripForeground: black;
    --settingsForeground: lightgray;
    --settingsText: white;
    --settingsBackground: darkslategray;
    --siaColorSplash: goldenrod;
    --stars: limegreen;
    --starsError: red;
    --starsMap: yellow;
    --buttonText: white;
    --buttonRed: firebrick;
    --buttonGreen: seagreen;
    --buttonBlue: steelblue;
}

.light-mode {
    --background: hsl(0, 0%, 98%);
    --flightProgressStripBackground: #F7FADE;
    --flightProgressStripForeground: black;
    --settingsForeground: black;
    --settingsText: black;
    --settingsBackground: hsl(0, 0%, 90%);
    --siaColorSplash: orange;
    --stars: forestgreen;
    --starsError: red;
    --starsMap: orange;
    --buttonText: white;
    --buttonRed: crimson;
    --buttonGreen: forestgreen;
    --buttonBlue: royalblue;
}

.dark-mode {
    --background: #2d2d2d;
    --flightProgressStripBackground: #F7FADE;
    --flightProgressStripForeground: black;
    --settingsForeground: #cfcfcf;
    --settingsText: #f3f3f3;
    --settingsBackground: #2d2d2d;
    --siaColorSplash: #b58b00;
    --stars: #42b52b;
    --starsError: #c82f2f;
    --starsMap: #b58b00;
    --buttonText: #f3f3f3;
    --buttonRed: #c82f2f;
    --buttonGreen: #009b76;
    --buttonBlue: #376fe1;
}

.darker-mode {
    --background: hsl(0, 0%, 8%);
    --flightProgressStripBackground: #F7FADE;
    --flightProgressStripForeground: black;
    --settingsForeground: hsl(0, 0%, 29%);
    --settingsText: gray;
    --settingsBackground: hsl(0, 0%, 12%);
    --siaColorSplash: #b58b00;
    --stars: #42b52b;
    --starsError: #c82f2f;
    --starsMap: #b58b00;
    --buttonText: #f3f3f3;
    --buttonRed: #c82f2f;
    --buttonGreen: #009b76;
    --buttonBlue: #376fe1;
}

.darcula-mode {
    --background: hsl(231, 15%, 18%);
    --flightProgressStripBackground: #F7FADE;
    --flightProgressStripForeground: black;
    --settingsForeground: hsl(60, 30%, 96%);
    --settingsText: hsl(60, 30%, 96%);
    --settingsBackground: hsl(232, 14%, 31%);
    --siaColorSplash: hsl(31, 100%, 66%);
    --stars: hsl(135, 94%, 65%);
    --starsError: hsl(0, 100%, 67%);
    --starsError: hsl(31, 100%, 66%);
    --buttonText: hsl(60, 30%, 96%);
    --buttonRed: hsl(0, 95%, 67%);
    --buttonGreen: hsl(135, 75%, 60%);
    --buttonBlue: hsl(225, 27%, 51%);
}

.grayscale-mode {
    --background: black;
    --flightProgressStripBackground: #bebebe;
    --flightProgressStripForeground: black;
    --settingsForeground: #707070;
    --settingsText: #b0b0b0;
    --settingsBackground: #202020;
    --siaColorSplash: #f5f5f5;
    --stars: whitesmoke;
    --starsError: gainsboro;
    --starsMap: #707070;
    --buttonText: dimgray;
    --buttonRed: #b0b0b0;
    --buttonGreen: whitesmoke;
    --buttonBlue: #d0d0d0;
}

.matrix-mode {
    --background: black;
    --flightProgressStripBackground: black;
    --flightProgressStripForeground: limegreen;
    --settingsForeground: limegreen;
    --settingsText: limegreen;
    --settingsBackground: black;
    --siaColorSplash: limegreen;
    --stars: limegreen;
    --starsError: red;
    --starsMap: limegreen;
    --buttonText: black;
    --buttonRed: limegreen;
    --buttonGreen: limegreen;
    --buttonBlue: limegreen;
}

.redlight-mode {
    --background: black;
    --flightProgressStripBackground: black;
    --flightProgressStripForeground: firebrick;
    --settingsForeground: firebrick;
    --settingsText: firebrick;
    --settingsBackground: black;
    --siaColorSplash: firebrick;
    --stars: firebrick;
    --starsError: firebrick;
    --starsMap: firebrick;
    --buttonText: black;
    --buttonRed: firebrick;
    --buttonGreen: firebrick;
    --buttonBlue: firebrick;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background: orange;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background: gold;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background: forestgreen;
    }
}

body {
    background: var(--background);
}

h1 {
    font-family: arial;
    color: var(--settingsForeground);
    text-align: center;
}

#settingsArea {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-family: arial;
    color: var(--settingsText);
}

fieldset {
    border: 2px solid var(--settingsForeground);
    background: var(--settingsBackground);
    border-radius: 10px;
    text-wrap: nowrap;
/*            backdrop-filter: blur(10px); /* Apply blur to content behind */*/
}

legend {
    background-color: var(--settingsForeground);
    color: var(--background);
    font-weight: bold;
    border-radius: 6px;
    padding: 3px 6px;
}

fieldset, .flightProgressStrip, #buttonContainer button {
    box-shadow: 0px 0px 0px 3px var(--background);
}

.listDisplay {
    width: 300px;
    background: var(--background);
    color: var(--settingsForeground);
    hr {
        border-color: var(--settingsForeground);
        border-style: solid;
    }
}

.siaColorSplash {
    color: var(--siaColorSplash);
}

#currentMETAR {
    min-width: 350px;
    text-wrap: wrap;
}

button {    
    border: none;
    color: var(--buttonText);
    width: 120px;
    height: 40px;
    border-radius: 6px;
    font-size: 14px;
}

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.buttonNew {
    background-color: var(--buttonGreen);
}

.buttonRepeat {
    background-color: var(--buttonBlue);
}

.buttonRepeatInitial {
    background-color: var(--buttonRed);
}

.buttonMETAR {
    background-color: var(--siaColorSplash);
}

.buttonSTARS {
    border: 1px solid var(--stars);
    color: var(--stars);
    background-color: var(--background);
}

.parentCheckbox {
}

.childCheckbox {
    margin-left: 20px;
}

.flightProgressStrip {
    height: 1in;
    width: 8in;
    display: grid;
    grid-template-columns: 42.6fr 16fr 26.5fr 78.2fr 11fr 11fr 17.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "box1 box5 box8 box9 box10 box11 box12"
        "box3 box6 box8 box9 box13 box14 box15"
        "box4 box7 box8 box9 box16 box17 box18";
    vertical-align: top;
    text-align: left;
    text-wrap: wrap;
    font-family: consolas;
    font-size: 19px;
    color: var(--flightProgressStripForeground);
    font-weight: bold;
    background: var(--flightProgressStripBackground);
    border-collapse: collapse;
    border: 0.5px solid var(--flightProgressStripForeground);

    .fpsItem {
        border-color: var(--flightProgressStripForeground);
        border-width: 0.5px;
        border-style: solid;
        padding-top: 5px;
        padding-left: 5px;
    }

    #fps1 {
        grid-area: box1;
        border-style: solid solid none solid;
        padding-left: 20px;
    }

    #fps3 {
        grid-area: box3;
        border-style: none solid none solid;
        padding-left: 20px;
    }

    #fps4 {
        grid-area: box4;
        border-style: none solid solid solid;
        padding-left: 20px;
    }

    #fps5 {
        grid-area: box5;
        padding-left: 1px;
    }

    #fps6 {
        grid-area: box6;
        padding-left: 1px;
    }

    #fps7 {
        grid-area: box7;
        padding-left: 1px;
        overflow-wrap: nowrap;
    }

    #fps8 {
        grid-area: box8;
    }

    #fps9 {
        grid-area: box9;
    }

    #fps10 {
        grid-area: box10;
    }

    #fps11 {
        grid-area: box11;
    }

    #fps12 {
        grid-area: box12;
    }

    #fps13 {
        grid-area: box13;
    }

    #fps14 {
        grid-area: box14;
    }

    #fps15 {
        grid-area: box15;
    }

    #fps16 {
        grid-area: box16;
        text-align: center;
    }

    #fps17 {
        grid-area: box17;
    }

    #fps18 {
        grid-area: box18;
    }
}

.stars {
    text-transform: uppercase;
    display: none;
    vertical-align: text-top;
    outline: none; 
    border: 1px solid var(--stars);
    resize: none;
    background: var(--background);
    color: var(--stars);
    font-family: consolas;
    color: var(--stars);
    font-size: 16px;
    font-weight: bold;
}

.starsError {
    display: none;
    font-family: consolas;
    color:var(--starsError);
    font-size:16px;
    font-weight:bold;
}

#starsKeyboard {
    width: 500px;
    background: black;

    .standardRow {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-column-gap: 2px;
        margin: 2px;
    }
    .nonStandardRow {
        display: grid;
        grid-template-columns: 1.5fr 1fr 6fr 1.5fr;
        grid-column-gap: 2px;
        margin: 2px;
        margin-top: 12px;
    }

    button {
        width: 100%;
        height: 50px;
        font-family: arial;
        font-size: 11px;
        letter-spacing: -0.5px;
        line-height: 1em;
        font-weight: bold;
        text-align: center;
        border-style: 1px solid black;
        border-radius: 5px;
        align-items: center;
        box-shadow: inset 0px 0px 1.5px 5px rgba(0,0,0,0.25);
    }
    button:active {
        transform: translateY(1px);
    }

    .green {
        background: darkgreen;
        color: whitesmoke;
    }
    .red {
        background: firebrick;
        color: whitesmoke;
    }
    .blue {
        background: deepskyblue;
        color: black;
    }
    .white {
        background: whitesmoke;
        color: black;
    }
    .yellow {
        background: gold;
        color: black;
    }
}

#txtStarsEntry {
    padding: 2px;
    width: fit-content;
    height: fit-content;
}

#aircraftDisplay {
    max-height: 80vh;
    overflow: scroll;
}